<style>
    @import url('https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap');

    html, body, [class*="css"] {
        font-family: 'Segoe UI', sans-serif;
        background-color: #1E1E1E !important;
    }

    .stApp {
        background-color: #1E1E1E !important;
    }

    body, h1, h2, h3, h4, p, label, span,
    .stCheckbox>div, .stCheckbox span, .stCheckbox label span,
    .stSelectbox label, .stNumberInput label,
    .stMarkdown span, .stMarkdown p, .stMarkdown div,
    .css-1x8cf1d, .css-1v0mbdj span, .css-17eq0hr, .css-1r6slb0 {
        color: #FFFFFF !important;
        font-weight: 500 !important;
        opacity: 1 !important;
    }

    .stSelectbox div[data-baseweb],
    .stNumberInput input,
    .stSelectbox [data-baseweb="select"] > div {
        background-color: #333333 !important;
        color: #FFFFFF !important;
    }

    .stNumberInput button {
        background-color: #FF5C35 !important;
        color: #FFFFFF !important;
        border: none !important;
        border-radius: 4px !important;
    }

    .stButton>button {
        background-color: #FF5C35 !important;
        color: #FFFFFF !important;
        border: none !important;
        border-radius: 8px !important;
        padding: 0.4em 1.2em !important;
        font-weight: bold !important;
        font-size: 1rem !important;
        display: block;
        margin: 1.2em auto 1em auto !important;
        width: auto;
        max-width: 240px;
        white-space: nowrap !important;
        line-height: 1.2 !important;
    }

    .stButton>button:hover {
        background-color: #cc4829 !important;
        color: #FFFFFF !important;
        transition: background-color 0.3s ease;
    }

    .stButton button * {
        color: #FFFFFF !important;
    }

    .stSuccess {
        background-color: #333333 !important;
        border-left: 6px solid #0046FE !important;
        color: #FFFFFF !important;
    }

    .logo-container {
        display: flex;
        justify-content: center;
             margin-bottom: 20px;
    }
</style>
